body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none !important;
    color: #fff;
}

a:hover,a:active,a:visited{
    color: #fff !important;
    border-color: #fff !important;
}

li{
    list-style-type: none;
}

li a{
    color: #fff !important;
}

li a:hover{
    color: #1D84A5 !important;
}

li a:focus{
    color: #1D84A5 !important;
}

.navbar{
    padding: 0 !important;
}

.navbar.bg-light{
    background-color: #111 !important;
}

.navbar-nav{
    margin: auto !important;
}

nav h3{
    font-family: 'Calligraffitti', cursive;
    color: #fff;
    margin-top: 20px;
}

.btn{
    border-radius: 0 !important;
}

.btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,1) !important;
    background-color: #1D84A5 !important;
}

.btn:hover{
    background-color: #1D84A5 !important;
}

.btn-primary{
    background-color: transparent !important;
    border-color: #fff !important;
}

.send-button{
    background-color: #1D84A5 !important;
}

.apresentacao{
    min-height: 700px;
    background-image: url('../images/predio4.png');  
    /* Efeito parallax simples */
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.apresentacao img{
    font-family: 'Calligraffitti', cursive;
    padding-top: 100px;
    font-size: 65px;
}

footer h3{
    font-family: 'Calligraffitti', cursive;
}

/* ANIMACAO DO SAIBA MAIS */

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

}

@keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

}

.bounce-arrow {
    -moz-animation: bounce 2s infinite !important;
    -webkit-animation: bounce 2s infinite !important;
    animation: bounce 2s infinite !important;
    color: #fff;
}
  

.salas{
    padding-bottom: 50px;
    background-color: #f7f7f7;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sobre{
    padding-bottom: 50px;
    color: #333;
    background-color: #fff;

}

.contato{
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    background-color: #111;
    color: #fff;
    
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #333 !important;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top.show {
    opacity: 1;
}